<div class="heading">Teams</div>
<dx-data-grid
  [dataSource]="teams"
  [remoteOperations]="true"
  [columnAutoWidth]="true"
  [showRowLines]="true"
  [showBorders]="false"
  [hoverStateEnabled]="true"
  [columnHidingEnabled]="true"
  [wordWrapEnabled]="true"
  (onRowDblClick)="openTeamDetail($event)"
>
  <dxo-load-panel [enabled]="false"></dxo-load-panel>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-selection mode="single"></dxo-selection>
  <dxo-paging [pageSize]="25"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  ></dxo-pager>
  <dxo-sorting mode="multiple"></dxo-sorting>

  <dxi-column dataField="id" [visible]="false"></dxi-column>

  <dxi-column
    dataField="players[0].name"
    caption="Player 1"
    dataType="string"
  ></dxi-column>
  <dxi-column
    dataField="players[1].name"
    caption="Player 2"
    dataType="string"
  ></dxi-column>
  <dxi-column
    dataField="eventsCount"
    caption="Events count"
    dataType="number"
  ></dxi-column>
</dx-data-grid>
