// Colors

// Primary
$blue-050: #dceefb;
$blue-100: #b6e0fe;
$blue-200: #84c5f4;
$blue-300: #62b0e8;
$blue-400: #4098d7;
$blue-500: #2680c2;
$blue-600: #186faf;
$blue-700: #0f609b;
$blue-800: #0a558c;
$blue-900: #003e6b;

$yellow-050: #fffbea;
$yellow-100: #fff3c4;
$yellow-200: #fce588;
$yellow-300: #fadb5f;
$yellow-400: #f7c948;
$yellow-500: #f0b429;
$yellow-600: #de911d;
$yellow-700: #cb6e17;
$yellow-800: #b44d12;
$yellow-900: #8d2b0b;

// Neutrals
$blue-grey-050: #f0f4f8;
$blue-grey-100: #d9e2ec;
$blue-grey-200: #bcccdc;
$blue-grey-300: #9fb3c8;
$blue-grey-400: #829ab1;
$blue-grey-500: #627d98;
$blue-grey-600: #486581;
$blue-grey-700: #334e68;
$blue-grey-800: #243b53;
$blue-grey-900: #102a43;

// Supporting
$cyan-050: #e0fcff;
$cyan-100: #bef8fd;
$cyan-200: #87eaf2;
$cyan-300: #54d1db;
$cyan-400: #38bec9;
$cyan-500: #2cb1bc;
$cyan-600: #14919b;
$cyan-700: #0e7c86;
$cyan-800: #0a6c74;
$cyan-900: #044e54;

$red-050: #ffeeee;
$red-100: #facdcd;
$red-200: #f29b9b;
$red-300: #e66a6a;
$red-400: #d64545;
$red-500: #ba2525;
$red-600: #a61b1b;
$red-700: #911111;
$red-800: #780a0a;
$red-900: #610404;
