<div class="detail-wrapper" *ngIf="playerDetail">
  <div class="heading">
    <div class="name">{{ playerDetail.name }}</div>
  </div>
  <div class="header">
    <div class="player-info">
      <div class="row">
        <div class="label">Total events played</div>
        <div>{{ playerDetail.playedEvents }}</div>
      </div>
      <div class="row">
        <div class="label">First event played</div>
        <div>{{ playerDetail.yearOfFirstEvent }}</div>
      </div>

      <div class="row">
        <div class="label">First places</div>
        <div>
          {{ playerDetail.firstPlacesCount }} ({{
            playerDetail.firstPlacePercentage | number: "1.2-2"
          }}%)
        </div>
      </div>
      <div class="row">
        <div class="label">Second places</div>
        <div>
          {{ playerDetail.secondPlacesCount }} ({{
            playerDetail.secondPlacePercentage | number: "1.2-2"
          }}%)
        </div>
      </div>
      <div class="row">
        <div class="label">Third places</div>
        <div>
          {{ playerDetail.thirdPlacesCount }} ({{
            playerDetail.thirdPlacePercentage | number: "1.2-2"
          }}%)
        </div>
      </div>
      <div class="row">
        <div class="label">Top 3</div>
        <div>
          {{
            playerDetail.firstPlacesCount +
              playerDetail.secondPlacesCount +
              playerDetail.thirdPlacesCount
          }}
          ({{ playerDetail.top3Percentage | number: "1.2-2" }}%)
        </div>
      </div>
    </div>
  </div>

  <div class="detail-card">
    <div class="card-title">Event results</div>
    <dx-data-grid
      [dataSource]="playerDetail.eventTeams"
      [remoteOperations]="true"
      [columnAutoWidth]="true"
      [showRowLines]="true"
      [showBorders]="false"
      [hoverStateEnabled]="true"
      [columnHidingEnabled]="true"
      [wordWrapEnabled]="true"
    >
      <dxo-load-panel [enabled]="false"></dxo-load-panel>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
      ></dxo-pager>
      <dxo-sorting mode="multiple"></dxo-sorting>

      <dxi-column dataField="id" [visible]="false"></dxi-column>

      <dxi-column
        dataField="event.name"
        caption="Name"
        dataType="string"
      ></dxi-column>

      <dxi-column
        dataField="event.description"
        caption="Description"
        dataType="string"
      ></dxi-column>
      <dxi-column
        dataField="event.date"
        caption="Date"
        dataType="datetime"
        format="dd. MM. yyyy"
      ></dxi-column>
      <dxi-column
        dataField="ranking"
        caption="Ranking"
        dataType="number"
      ></dxi-column>
      <dxi-column
        dataField="team.players[0].name"
        caption="Player 1"
        dataType="string"
      ></dxi-column>
      <dxi-column
        dataField="team.players[1].name"
        caption="Player 2"
        dataType="string"
      ></dxi-column>
    </dx-data-grid>
  </div>

  <div class="detail-card">
    <div class="card-title">Teams</div>

    <dx-data-grid
      [dataSource]="playerDetail.teams"
      [remoteOperations]="true"
      [columnAutoWidth]="true"
      [showRowLines]="true"
      [showBorders]="false"
      [hoverStateEnabled]="true"
      [columnHidingEnabled]="true"
      [wordWrapEnabled]="true"
    >
      <dxo-load-panel [enabled]="false"></dxo-load-panel>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
      ></dxo-pager>
      <dxo-sorting mode="multiple"></dxo-sorting>

      <dxi-column dataField="id" [visible]="false"></dxi-column>

      <dxi-column
        dataField="players[0].name"
        caption="Player 1"
        dataType="string"
      ></dxi-column>

      <dxi-column
        dataField="players[1].name"
        caption="Player 2"
        dataType="string"
      ></dxi-column>
      <dxi-column
        dataField="eventTeams.length"
        caption="Played events"
        dataType="number"
      ></dxi-column>
    </dx-data-grid>
  </div>
</div>
